// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300,400,700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

// Custom
@import "custom";

.navbar {

	.navbar-brand {
		.logo {
			height: 40px;
		}
	}

	.nav-item {
		.nav-link {
			font-weight: 700;
		}
	}	
}

#header {
		margin-top:65px;

		.arrow {
			position:absolute;
			top:0; 
			bottom:0; 
			width:15vw; 
			background-color: rgba(255,255,255,0.75);
			cursor:pointer;
		}

		.arrow:hover {
			background-color: rgba(255,255,255,0.85);
		}

		#nextSlide {
			right:0;
		}

		#prevSlide {
			left:0;
		}
	}

main {
	margin-top:60px;
	background-color: rgb(252,252,252);

	.welcome {
		ul {
			list-style: none;
			margin:0;
			padding:0;

			li {
				list-style: none;
				margin: 10px 0px;
				font-size: 1.25em;
				padding-left:1.5em;
				text-indent: -1.5em;
				color: #555;
			}
		}
	}

	.headline {
		border: 1px solid #e52b71;
		border-radius: 0px 0px 20px 0px;
		font-weight: 900;
		font-size: 3.3em;
	}

	.policy {
		h2 {
			font-weight: 500;
			font-size: 1.6em;
			margin-top: 30px;
		}

		h3 {
			font-weight: 500;
			font-size: 1.6em;
			margin-top: 20px;
		}	
	}


	.subtitle {

		border: 1px solid #f3b639;
		border-radius: 0px 0px 20px 0px;
		font-weight: 900;
		font-size: 3em;
	}


	.box {
		ul {

			li {
				font-size: 1.1em;
				color: #555;
			}
		}
	}

	.btn {
		font-weight: 700;
		font-size: 1.2em;
	}

	h2 {
		font-weight: 900;
		font-size: 3em;
	}

	h3 {
		line-height: 1.65;
	}

	p {
		font-size: 1.1em;
		color: #555;
	}

	.badge {
		font-size: 1.25em;
		border-radius: 0px 0px 11px 0px;
	}

	#break {
		position:relative;
		background-image:url('/images/hintergrund.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll; 
		background-position: center center;
		min-height: 65vh;
	}

}

footer {
	.logoFooter {
		height: 55px;
	}
}

@include media-breakpoint-down(md) { 

	main {
		.headline {
			font-weight: 900;
			font-size: 2.2em;
		}

		.subtitle {
			font-size: 1.15em;
		}
	}

}

